<html>
    <head>
        <title>Edit</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}">
    </head>
    <body>
        <h1>Edit</h1>
        <form action="{{ url_for('edit') }}" method="post" role="form" class="editform" enctype="multipart/form-data">{{ EditForm.csrf_token }}
            {% for element in EditForm %}
                {% if element.name != "f_submit" and element.name != "csrf_token" %}
                    <div class="row"><div class="label">{{ element.label }}</div><div class="options">{{ element }}</div></div>
                {% endif %}
            {% endfor %}
            <div class="row" style="border-bottom-width: 0px;">{{ EditForm.f_submit() }}</div>
        </form>
    </body>
</html>